body {
  background-color: #242222;
  color: white;
}

.tier {
  position: relative;
  border: 1px solid black;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a17;
  min-height: 80px;
}

.tier-name {
  border-right: 1px solid black;
  min-width: 100px;
  vertical-align: middle;
  line-height: 80px;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  width: min-content;
}

.tier-buttons {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.tier-settings {
  border-left: 1px solid black;
  background-color: #545252;
  min-width: 50px;
  height:100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tier-settings span:hover {
  color: black;
  cursor: pointer;
}

.add-row-btn {
  background-color: #b1b1b1;
  border-radius: 5px;
  position: absolute;
  right: 51px;
  width: 16px;
  height: 16px;
  text-align: center;
  color: black;
  font-weight: 800;
  bottom: -8px;
  z-index: 20;
  cursor: pointer;
  user-select: none;
}

.add-row-btn:hover {
  background-color: #848282;
}

.add-row-btn:active {
  background-color: #747272;
}
